main{
   
    h5{
        margin: 0;
    }
    
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contenedor-tabla {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
  }
  
  .contenedorprincipal {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 40px;
  }
  

@media screen and (max-width: 700px) {
    .contenedorprincipal{ 
        display: flex;
        flex-direction: column;
}
}
