main{
    h2{
        font-size: 3rem;
        padding: 10px;
        text-align: center;
    }
    .tabla1{
        display: flex;
        justify-content: center;
        margin-left: 40%;
        height: 300px;
        width: 300px;
    }
}